<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Petsworld, Pets, Pet Adoption">
    <meta name="description" content="Pets World - Adoption page and form submission">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
    <title>Pet's world adoption page</title>
</head>

<body>
    <nav class="navbar">
        <a href="index.html">
            <img src="../assets/logo.png" class="nav-logo" alt="navbar-logo">
        </a>

        <ul class="nav-links">
            <li class="nav-link-item">
                <a href="index.html" class="btn">Home</a>
            </li>
            <li class="nav-link-item">
                <a href="pets.html" class="btn">Pets</a>
            </li>
            <li class="nav-link-item">
                <a href="adopt.html" class="btn">Adoption</a>
            </li>
        </ul>

    </nav>

    <main class="adopt-main">
        <form action="submit">

        </form>
    </main>

    <footer class="footer">

        <ul class="footer-links">
            <li class="footer-item">
                <a href="index.html"><button class="btn">Home</button></a>
            </li>
            <li class="footer-item">
                <a href="pets.html"><button class="btn">Pets</button></a>
            </li>
            <li class="footer-item">
                <a href="adopt.html"><button class="btn">Adoption</button></a>
            </li>
        </ul>


        <a href="http://www.dogstrust.ie" target="_blank">
            <img src="../assets/logo-transparent.png" class="footer-logo" alt="footer logo image">
        </a>

        <h2 class="copyright">&copy; 2024 Pets World</h2>

    </footer>
</body>

</html>