<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Petsworld, Pets, Pet Adoption">
    <meta name="description" content="Pets World - Adoption page and form submission">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
    <title>Pet's world adoption page</title>
</head>

<body>
    <nav class="navbar">
        <img src="../assets/logo.png" class="nav-logo" alt="navbar-logo">

        <ul class="nav-links">
            <a href="index.html">
                <li class="nav-link-item">Home</li>
            </a>
            <a href="pets.html">
                <li class="nav-link-item">Pets</li>
            </a>
            <a href="adopt.html">
                <li class="nav-link-item">Adoption</li>
            </a>
        </ul>
    </nav>

    <main class="adopt-main">
        <form action="submit">

        </form>
    </main>

    <footer class="footer">
        <img src="../assets/logo-transparent.png" class="footer-logo" alt="footer logo image">

        <ul class="footer-links">
            <a href="index.html">
                <li class="footer-item">Home</li>
            </a>
            <a href="pets.html">
                <li class="footer-item">Pets</li>
            </a>
            <a href="adopt.html">
                <li class="footer-item">Adoption</li>
            </a>
        </ul>
    </footer>
</body>

</html>