<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Pets World - A web page for pet adoption">
    <meta name="keywords" content="Petsworld, Pets, Pet Adoption">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
    <title>Pets World</title>
</head>

<body>
    <nav class="navbar">
        <a href="index.html">
            <img src="../assets/logo.png" class="nav-logo" alt="navbar-logo">
        </a>

        <ul class="nav-links">
            <li class="nav-link-item">
                <a href="index.html" class="btn">Home</a>
            </li>
            <li class="nav-link-item">
                <a href="pets.html" class="btn">Pets</a>
            </li>
            <li class="nav-link-item">
                <a href="adopt.html" class="btn">Adoption</a>
            </li>
        </ul>

    </nav>

    <main class="main-home">

        <h1 class="section-heading">Pets World</h1>
        <h2 class="subheading">Welcome to our adoption centre:</h2>
        <h2 class="subheading">We rehome pets in Ireland. Please observe the information below for
            what to expect during the adoption process</h2>

        <button class="btn"><a href="#contact">Contact information 👇</a></button>

        <div class="info">
            <a href="pets.html">
                <img src="../assets/pets.jpg" class="header-image" alt="Pets Image">
            </a>

            <h1 class="section-heading">Adoption Process</h1>
            <h1 class="subheading">Learn more about how we rehome our lovely pets and what happens
                after:</h1>

            <ul class="info-list">
                <li class="info-list-item">1. Compassionate matching of pets with loving homes</li>
                <li class="info-list-item">2. Pre-adoption behavioral assessments and support</li>
                <li class="info-list-item">3. Veterinary care, including vaccinations and
                    spay/neuter
                    procedures</li>
                <li class="info-list-item">4. Post-adoption support and resources for new pet owners
                </li>
                <li class="info-list-item">5. Community outreach and education programs on
                    responsible
                    pet ownership</li>
            </ul>

        </div>

        <h1 class="section-heading">Contact Information</h1>
        <table class="contact-table" id="contact">
            <tr>
                <th>Branch</th>
                <th>Contact Name</th>
                <th>Phone Number</th>
                <th>Email Address</th>
            </tr>
            <tr>
                <td>Dublin</td>
                <td>John Delaney</td>
                <td>0875566392</td>
                <td>john@petsworld.ie</td>
            </tr>
            <tr>
                <td>Dublin</td>
                <td>Max Byrne</td>
                <td>0834212345</td>
                <td>max@petsworld.ie</td>
            </tr>
            <tr>
                <td>Dublin</td>
                <td>Oisin O'Malley</td>
                <td>0867538209</td>
                <td>oisin@petsworld.ie</td>
            </tr>
        </table>
    </main>

    <footer class="footer">

        <ul class="footer-links">
            <li class="footer-item">
                <a href="index.html"><button class="btn">Home</button></a>
            </li>
            <li class="footer-item">
                <a href="pets.html"><button class="btn">Pets</button></a>
            </li>
            <li class="footer-item">
                <a href="adopt.html"><button class="btn">Adoption</button></a>
            </li>
        </ul>


        <a href="http://www.dogstrust.ie" target="_blank">
            <img src="../assets/logo-transparent.png" class="footer-logo" alt="footer logo image">
        </a>

        <h2 class="copyright">&copy; 2024 Pets World</h2>

    </footer>

</body>

</html>