<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Pets World - A web page for pet adoption">
    <meta name="keywords" content="Petsworld, Pets, Pet Adoption">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
    <title>Pets World</title>
</head>

<body>
    <nav class="navbar">
        <a href="index.html">
            <img src="../assets/logo.png" class="nav-logo" alt="navbar-logo">
        </a>

        <ul class="nav-links">
            <li class="nav-link-item">
                <a href="index.html" class="btn">Home</a>
            </li>
            <li class="nav-link-item">
                <a href="pets.html" class="btn">Pets</a>
            </li>
            <li class="nav-link-item">
                <a href="adopt.html" class="btn">Adoption</a>
            </li>
        </ul>

    </nav>

    <main class="main-home">

        <h1 class="section-heading">Pets World</h1>


        <div class="info">
            <a href="pets.html">
                <img src="../assets/pets.jpg" class="header-image" alt="Pets Image">
            </a>

            <h1>Information</h1>

            <ul class="info-list">
                <li class="info-list-item">hi</li>
                <li class="info-list-item">hi</li>
                <li class="info-list-item">hi</li>
                <li class="info-list-item">hi</li>
                <li class="info-list-item">hi</li>
            </ul>
        </div>

        <table class="contact-table">
            <tr>
                <th>Branch</th>
                <th>Contact Name</th>
                <th>Phone Number</th>
                <th>Email Address</th>
            </tr>
            <tr>
                <td>Dublin</td>
                <td>John Delaney</td>
                <td>0875566392</td>
                <td>john@petsworld.ie</td>
            </tr>
            <tr>
                <td>Dublin</td>
                <td>Max Byrne</td>
                <td>0834212345</td>
                <td>max@petsworld.ie</td>
            </tr>
            <tr>
                <td>Dublin</td>
                <td>Oisin O'Malley</td>
                <td>0867538209</td>
                <td>oisin@petsworld.ie</td>
            </tr>
        </table>
    </main>

    <footer class="footer">

        <ul class="footer-links">
            <li class="footer-item">
                <a href="index.html"><button class="btn">Home</button></a>
            </li>
            <li class="footer-item">
                <a href="pets.html"><button class="btn">Pets</button></a>
            </li>
            <li class="footer-item">
                <a href="adopt.html"><button class="btn">Adoption</button></a>
            </li>
        </ul>


        <a href="http://www.dogstrust.ie" target="_blank">
            <img src="../assets/logo-transparent.png" class="footer-logo" alt="footer logo image">
        </a>

        <h2 class="copyright">&copy; 2024 Pets World</h2>

    </footer>

</body>

</html>