<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Pets World - A web page for pet adoption">
    <meta name="keywords" content="Petsworld, Pets, Pet Adoption">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
    <title>Pets World</title>
</head>

<body>
    <nav class="navbar">
        <img src="../assets/logo.png" class="nav-logo" alt="navbar-logo">

        <ul class="nav-links">
            <a href="index.html">
                <li class="nav-link-item">Home</li>
            </a>
            <a href="pets.html">
                <li class="nav-link-item">Pets</li>
            </a>
            <a href="adopt.html">
                <li class="nav-link-item">Adoption</li>
            </a>
        </ul>
    </nav>

    <main class="main-home">

        <img src="../assets/pets.jpg" class="header-image" alt="Pets Image">

        <div class="info">
            <h1>Info</h1>
            <p>info description</p>
        </div>

        <table class="contact-table">
            <th>Contact</th>
            <tr>Phone</tr>
        </table>
    </main>

    <footer>
        <img src="../assets/logo.jpg" class="footer-logo" alt="footer logo image">

        <ul class="nav-links">
            <a href="index.html">
                <li class="nav-link-item">Home</li>
            </a>
            <a href="pets.html">
                <li class="nav-link-item">Pets</li>
            </a>
            <a href="adopt.html">
                <li class="nav-link-item">Adoption</li>
            </a>
        </ul>
    </footer>
</body>

</html>