<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Pets World - A web page for pet adoption">
    <meta name="keywords" content="Petsworld, Pets, Pet Adoption">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon.png" type="image/x-icon">
    <title>Automotive Acquisitions</title>
    <!-- Styles -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
        integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar">
        <a href="index.html">
            <img src="../assets/logo_transparent.png" class="nav-logo" alt="navbar-logo"
                height="200" width="200">
        </a>

        <ul class="nav-links">
            <li class="nav-link-item">
                <a href="index.html" class="btn">Home</a>
            </li>
            <li class="nav-link-item">
                <a href="about.html" class="btn">About</a>
            </li>
            <li class="nav-link-item">
                <a href="game.html" class="btn">Game</a>
            </li>
            <li class="nav-link-item">
                <a href="account.html" class="btn">Account</a>
            </li>
        </ul>

    </nav>

    <main>
        <h1>Hello Index</h1>
    </main>

    <footer class="footer">

        <ul class="footer-links">
            <li class="footer-item">
                <a href="index.html"><button class="btn">Home</button></a>
            </li>
            <li class="footer-item">
                <a href="index.html"><button class="btn">Home</button></a>
            </li>
            <li class="footer-item">
                <a href="pets.html"><button class="btn">Pets</button></a>
            </li>
            <li class="footer-item">
                <a href="adopt.html"><button class="btn">Adoption</button></a>
            </li>
        </ul>


        <a href="http://www.dogstrust.ie" target="_blank">
            <img src="../assets/logo_transparent.png" class="footer-logo" alt="footer logo image"
                height="200" width="200">
        </a>

        <h2 class="copyright">&copy; 2024 Pets World</h2>

    </footer>


    <!-- External scripts  -->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>