/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	transition: all 0.7s ease-in-out;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 20rem;
	overflow-x: hidden;
	max-width: 100%;
}

body {
	min-height: 100vh;
	min-width: 100vw;
	background-image: linear-gradient(
		to bottom,
		rgb(235, 235, 235) 0%,
		rgb(234, 231, 231) 50%,
		rgb(218, 217, 217) 100%
	);
	color: #42428b;
}

html::-webkit-scrollbar {
	width: 0.3vw;
}

html::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 10px;
}

html::-webkit-scrollbar-track {
	background-color: #333;
}

main {
	display: flex;
	min-height: 100vh;
	min-width: 100vw;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: 0 auto;
	z-index: 0;
}

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
	margin: 0;
}

button {
	background-color: transparent;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

/* Utility Style */
.container {
	padding: 15rem 0;
	min-width: 100vw;
}

.section-heading {
	margin: 0.5rem auto;
	padding: 0;
	color: #121314;
	font-size: 3rem;
	text-decoration: underline;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.subheading {
	margin: 0.15rem auto;
	font-weight: normal;
	font-size: large;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5rem;
}

.btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	background-color: #3b3b71;
	border-radius: 0.75rem;
	padding: 0.5rem 3.5rem;
	margin: 1rem auto;
	color: white;
	font-size: 1rem;
	font-weight: 200;
	white-space: nowrap;

	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-style: normal;

	cursor: pointer;
	&:hover {
		color: white;
		transition: 700ms;
		background-color: rgb(69, 0, 189);
		transform: scale(102%);
	}
}

/* navbar styles */
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	padding: 1rem 2rem;
	position: fixed;
	top: 0;
	width: 100vw;
	background-color: #121314;
	border-bottom: 4px solid #121314;
	&:hover {
		border-bottom: 4px solid rgb(69, 0, 189);
	}
	z-index: 10;
}

.transparent-nav {
	background-color: transparent !important;
	border-bottom: none !important;
}

.nav-logo {
	margin: auto 1rem;
	&:hover {
		transform: scale(105%);
	}
}

.nav-links {
	display: flex;
	margin: auto 2rem;
	flex-direction: row;
	justify-content: space-evenly;
}

.nav-link-item {
	margin: auto 2rem;
}

/* Footer styles */
footer {
	display: flex;
	flex-direction: column;
	position: static;
	bottom: 0;
	padding: 1.5rem 0;
	margin: auto;
	background-color: #121314;
	align-items: center;
	text-align: center;
	border-top: 4px solid #121314;
	&:hover {
		border-top: 4px solid rgb(69, 0, 189);
	}
	z-index: 10;
}

.footer-logo {
	width: 200px;
	margin-right: 1rem;
	&:hover {
		transform: scale(105%);
	}
}

.footer-links {
	display: flex;
	flex-direction: row;
}

.footer-item {
	margin: 2rem 10rem;
	font-size: large;
}

.copyright {
	margin: 1rem;
	font-size: 1rem;
	font-weight: 400;
}

.white-svg svg {
	margin-top: 0.2rem;
	margin-left: 0.5rem;
	fill: white;
	width: 15px;
	height: 15px;
}

dialog {
	transition: all 700ms;
}

dialog[open] {
	opacity: 1;
}

dialog {
	width: 80vw;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 50;
	border-radius: 1.25rem;
	color: #e2e8f0 !important;
	background-color: #1f1f1f;
	border: 4px solid #42428b;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all 700ms ease-in-out;
	&:hover {
		border: 4px solid #3b3b71;
	}
}

dialog > * {
	display: flex;
	flex-direction: column;
}

.account-section {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: 0 auto;
}

.car-card {
	display: flex;
	flex-direction: column;
	background-color: #18181b;
	border: 3px solid #18181b;
	border-radius: 1rem;
	transition: all 700ms ease-in-out;
	margin: 2rem 15rem;
	padding: 1rem;
	&:hover {
		border: 3px solid #42428b;
		scale: 101%;
	}
}

.car-card > * {
	color: #d1d5db !important;
}

.car-card img {
	border-radius: 2rem;
	border: 2px;
	padding: 1rem;
	width: 800px;
	margin: 0 auto;
}

.car-info {
	display: flex;
	flex-direction: column;
	margin: 4rem auto;
	text-align: center;
	align-items: center;
}

.car-info img {
	width: 800px;
	margin: 3rem auto;
	border-radius: 1rem;
}

.car-info h1 {
	color: #e2e8f0;
}

/* Index Page */
.hero-container {
	position: relative;
	min-height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.slideshow {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	margin: auto;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.slides {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	height: 100vh;
	width: 100vw;
	object-fit: cover;
	object-position: center;
	transition: all 200ms ease-in-out;
	cursor: pointer;
}

.fade-in {
	opacity: 1;
}

.fade-out {
	opacity: 0;
}

.prev-button,
.next-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}

.prev-button i,
.next-button i {
	size: 2rem;
}

.prev-button {
	left: 1rem;
}

.next-button {
	right: 1rem;
}

.prev-button .fa-chevron-left,
.next-button .fa-chevron-right {
	font-size: 3rem;
	color: #e5e5e5;
	z-index: 10;
}

.typewriter h1 span {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.typewriter {
	position: absolute;
	padding: 0.5rem;
	margin: 1rem auto;
	font-size: 3rem;
	font-weight: 200;
	color: #e5e5e5;
	height: 10vh;
	width: 70vw;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
}

/* Form */
.form {
	display: flex;
	flex-direction: column;
	background-color: #1f1f1f;
	color: #212121;
	padding: 40px;
	margin: 3rem auto;
	text-align: center;
	border-radius: 2rem;
	width: 80vw;
	border: 2px #1f1f1f;
	transition: 700ms all ease-in-out;
	&:hover {
		border: 2px #42428b;
	}
}

.form > * {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #c0c0c0;
}

.form > * {
	margin-top: 16px;
	margin-bottom: 16px;
}

.form label {
	margin-top: 8px;
	margin-bottom: 8px;
	display: block;
	font-size: 1rem;
	font-weight: 500;
}

.form textarea,
.form input,
.form select {
	margin: 0 auto;
	display: block;
	width: 66.6666%;
	border-radius: 0.5rem;
	border: 1px solid #d1d5db;
	background-color: #c9c7c7;
	padding: 10px;
	font-size: 0.875rem;
	color: #212121;
}

.form textarea:focus,
.form input:focus,
.form select:focus {
	border-color: #42428b;
	outline: 2px solid #42428b;
}

.form textarea::placeholder,
.form input::placeholder,
.form select::placeholder {
	color: #212121;
}

.form .checkboxes {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
}

/* About Page */
.timeline {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.timeline-card {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #f3f1f1;
	background-color: #18181b;
	border: 4px solid #27272a;
	border-radius: 1.5rem;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 16px;
	width: 70vw;
	transition: all 0.7s ease-in-out;
	&:hover {
		border-color: rgb(69, 0, 189);
		transform: scale(1.025);
	}
}

.timeline-card {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.timeline-card-visible {
	opacity: 1;
	transform: translateY(0px);
}

.timeline-card > * {
	margin: 2px auto;
	display: flex;
	flex-direction: row;
}

i {
	margin: auto 0.5rem;
}

/* Media Queries */
@media (max-width: 1200px) {
	.navbar {
		flex-direction: column !important;
	}
}
@media (max-width: 768px) {
	.navbar {
		display: grid !important;
		margin: 0 auto !important;
		align-items: center !important;
		text-align: center !important;
		flex-direction: column !important;
		height: 60vh !important;
		justify-content: center !important;
		position: absolute !important;
	}

	.container {
		padding: 30rem 0 !important;
	}

	.nav-logo {
		margin: 0 auto !important;
		align-items: center !important;
	}

	.nav-links {
		display: flex !important;
		margin: 0 1rem !important;
		flex-direction: column !important;
		justify-content: center !important;
	}

	.nav-link-item {
		margin: auto 2rem !important;
	}

	.footer-links {
		flex-direction: column !important;
	}

	.typewriter {
		height: 20vh !important;
	}

	.slides {
		object-fit: cover !important;
	}

	.account-section {
		margin: 0 5rem !important;
	}

	.car-card > * {
		color: #d1d5db !important;
	}

	.car-card img {
		border-radius: 2rem !important;
		border: 2px !important;
		padding: 1rem !important;
		width: 300px !important;
		margin: 0 auto !important;
	}

	.car-info {
		display: flex !important;
		flex-direction: column !important;
		margin: 4rem auto !important;
		text-align: center !important;
		align-items: center !important;
	}

	.car-info img {
		width: 200px !important;
		margin: 3rem auto !important;
		border-radius: 1rem !important;
	}

	.car-info h1 {
		color: #e2e8f0 !important;
	}
}
